{{> _header}}

<div class="row">
  <div class="large-12 columns">
    <form action="/auction" method="post" enctype="multipart/form-data">
      Take a Photo
      <input type="file" name="item_photo" accept="image/*;capture=camera">
      Item Name
      <input type="text" placeholder="TV Stand" required="required">
      Starting Bid
      <div class="row collapse">
        <div class="small-1 columns">
          <span class="prefix">$</span>
        </div>
        <div class="small-11 columns">
          <input type="number" min="1" class="medium-11 columns"  placeholder="10" required="required">
        </div>
      </div>
      Increments
      <div class="row collapse">
        <div class="small-1 columns">
          <span class="prefix">$</span>
        </div>
        <div class="small-11 columns">
          <input type="number" min="1" class="medium-11 columns"  placeholder="5" required="required">
        </div>
      </div>
      End date <input type="date" required="required">
      <input type="submit" class="button postfix" value="Start Auction">
    </form>
  </div>
</div>

{{> _footer}}
