<div class="row js-auction-details">
     {{^ended}}
     <div data-alert class="alert-box warning radius">
       This auction ends in {{remaining_time}}
     </div>
    {{/ended}}
    {{#ended}}
     <div data-alert class="alert-box radius">
       This auction has ended
     </div>
    {{/ended}}
    {{#error_message}}
  	<div data-alert class="alert-box alert radius">
      {{error_message}}
		</div>
    {{/error_message}}
    {{#winning}}
  	<div data-alert class="alert-box success radius">
      You are currently winning this auction!
		</div>
    {{/winning}}
  	<div class="medium-6 columns">
	  <img src="/images/{{image_path}}">
	</div>
  	<div class="medium-6 columns">
		<div class="panel">
	    <div class="row collapse">
	      <div class="medium-8 small-12 columns">
	        <div class="row">
	          <div class="medium-12 small-6 columns">
	            <h5>{{auction_name}}</h5>
	          </div>
	          <div class="medium-12 small-6 columns">
              ${{^bid_count}}{{start_bid}}{{/bid_count}}{{current_bid}} {{^ended}} (+${{step}}) {{/ended}}
	          </div>
	        </div>
	      </div>
	      <div class="medium-4 small-12 columns">
        {{^ended}}
          <form>
          {{^logged_in}}
            <a class="button expand" data-reveal-id="confirm-bid-{{_id}}">Bid</a>
          {{/logged_in}}
          {{#logged_in}}
            <input class="button expand js-make-bid" type="submit" value="Bid" />
          {{/logged_in}}
        </form>
        {{/ended}}
	      </div>
	    </div>
	  </div>
	</div>
</div>

<div id="confirm-bid-{{_id}}" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <h4>Confirm Bid</h4>
  <form method="POST" action="/auction/{{_id}}" enctype="application/json">
  <input type="hidden" name="rev" value="{{_rev}}" />
  <input type="email" placeholder="your@email.com" required="required" name="user_email" />
  <input class="button expand js-make-bid" onclick="var y = {}; var j = _.each($(this).parent().serializeArray(), function(el) {y[el.name] = el.value;});
  $.ajax({url:'/auction/{{_id}}', method:'PUT', data:j});
" value="Bid" />
  </form>
<a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>
