{{#doc}}
<li>
  <a href="/auction/{{_id}}"><img src="/images/{{image_path}}"></a>
  <div class="panel">
    <div class="row collapse">
      <div class="medium-8 small-12 columns">
        <div class="row">
          {{#closed}}
          <div class="medium-12 columns">
            <div class="round alert label">Closed</div>
          </div>
          {{/closed}}
          <div class="medium-12 small-6 columns">
            <h5><a href="/auction/{{_id}}">{{auction_name}}</a></h5>
          </div>
          <div class="medium-12 small-6 columns">
            ${{^bid_count}}{{start_bid}}{{/bid_count}}{{current_bid}} (+${{step}})
          </div>
        </div>
      </div>
      <div class="medium-4 small-12 columns">
        <a class="button expand" {{#logged_in}}href="/auction/{{_id}}"{{/logged_in}} {{^logged_in}}data-reveal-id="confirm-bid-{{_id}}"{{/logged_in}}>Bid</a>
      </div>
    </div>
  </div>

  <div id="confirm-bid-{{_id}}" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <h4>Confirm Bid</h4>
    {{> _bid_form}}
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
  </div>
</li>
{{/doc}}
