<form method="POST" action="/auction/id/{{_id}}" enctype="multipart/form-data">
  <input type="hidden" name="rev" value="{{_rev}}" />
  <input type="email" name="user_email" placeholder="your@email.com" />
  <input class="button expand" type="submit" value="Bid" />
</form>
