<form method="POST" action="/auction/id/{{_id}}" enctype="multipart/form-data">
  <input type="hidden" name="rev" value="{{_rev}}" />
  <input type="hidden" name="user_id" value="a7e9b9ca-4788-459d-9e6c-c3007971ee90" />
  <input class="button expand" type="submit" data-reveal-id="confirm-bid" value="Bid" />
</form>
