      <footer class="row margin-bottom">
        <div class="large-12 columns centered"><hr/>
          <a target="_top" href="mailto:mbartolome@wayfair.com">@mbartolome</a>
          x <a target="_top" href="mailto:isuvak@wayfair.com">@isuvak</a>
          x <a target="_top" href="mailto:ddenchev@wayfair.com">@ddenchev</a>
        </div>
      </footer>

      <!-- build:js scripts/main.js -->
      <script data-main="scripts/main" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
      <script data-main="scripts/main" src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.1/backbone-min.js"></script>
      <script data-main="scripts/main" src="//code.jquery.com/jquery-2.1.4.min.js"></script>
      <script data-main="scripts/main" src="//cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/js/foundation.min.js"></script>
      <!-- endbuild -->
      <script type="text/javascript">
        $(document).foundation();
      </script>
    </div>
  </body>
</html>
