<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <title>Roadshow</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <!-- build:css(.tmp) styles/main.css -->
        <link rel="stylesheet" href="/styles/foundation.min.css">
        <link rel="stylesheet" href="/styles/main.css">
        <!-- endbuild -->
        <!-- build:js scripts/vendor/modernizr.js -->
        <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
        <!-- endbuild -->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Montserrat:700' rel='stylesheet' type='text/css'>

        <script type="text/javascript">
          {{#data}}
            window.data = {{{data}}};
          {{/data}}
          {{^data}}
            window.data = {};
          {{/data}}

        </script>

    </head>
    <body>
      <div id="js-app-wrapper">
        <!--[if lt IE 10]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div class="row margin-top margin-bottom">
          <div class="large-12 columns">
            <form action="/search" method="GET">
              <div class="row collapse">
                <div class="medium-12 small-4 fr text-right columns margin-bottom-sm">
                  <div><a href="/users">My Account</a></div>
                </div>
                <div class="medium-3 small-12 columns">
                  <h3><a href="/">Roadshow/</a></h3>
                </div>
                  <div class="medium-5 small-12 columns">
                    <input name="search_term" type="text" placeholder="e.g. wool socks, phone charger, juicer">
                  </div>
                  <div class="medium-2 small-12 columns">
                    <input type="submit" class="button alert postfix" value="Search" />
                  </div>
                <div class="medium-2 small-12 columns">
                  <a href="/auction" class="button success postfix">+Auction</a>
                </div>
              </div>
            </form>
          </div>
        </div>