body {
  font: 14px "Open Sans", "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Montserrat", "Open Sans", Helvetica, Arial, sans-serif;
	color: #2C3E50;
}

.centered {
	text-align: center;
}

.margin-top {
	margin-top: 20px;
}

.margin-bottom {
	margin-bottom: 20px;
}
