body {
  font: 14px "Open Sans", "Lucida Grande", Helvetica, Arial, sans-serif;
  word-break: break-word;
}

a {
  color: #00B7FF;
}

a, h1, h2, h3, h4, h5, h6 {
	font-family: "Montserrat", "Open Sans", Helvetica, Arial, sans-serif;
	color: #2C3E50;
}

.centered {
	text-align: center;
}

.margin-top {
	margin-top: 20px;
}

.margin-bottom {
	margin-bottom: 20px;
}

.margin-bottom-sm {
    margin-bottom: 5px;
}

.margin-none {
	margin: 0;
}

.vertical-align {
    margin-top: -2px;
}

.fr {
	float: right;
}

.text-right {
    text-align: right;
}

.centered {
    text-align: center;
}

.resize-handle-ne,
.resize-handle-ne,
.resize-handle-se,
.resize-handle-nw,
.resize-handle-sw {
    position: absolute;
    display: block;
    width: 10px;
    height: 10px;
    background: rgba(222,60,80,.9);
    z-index: 999;
}

.resize-handle-nw {
    top: -5px;
    left: -5px;
    cursor: nw-resize;
}

.resize-handle-sw {
    bottom: -5px;
    left: -5px;
    cursor: sw-resize;
}

.resize-handle-ne {
    top: -5px;
    right: -5px;
    cursor: ne-resize;
}

.resize-handle-se {
    bottom: -5px;
    right: -5px;
    cursor: se-resize;
}

.canvas_holder_hidden {
  display:none;
}