<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <title>Roadshow</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <!-- build:css(.tmp) styles/main.css -->
        <link rel="stylesheet" href="/styles/foundation.min.css">
        <link rel="stylesheet" href="/styles/main.css">
        <!-- endbuild -->
        <!-- build:js scripts/vendor/modernizr.js -->
        <script src="/bower_components/modernizr/modernizr.js"></script>
        <!-- endbuild -->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Montserrat:700' rel='stylesheet' type='text/css'>
    </head>
    <body>
      <!--[if lt IE 10]>
          <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      <![endif]-->
      <div class="row margin-top">
        <div class="large-12 columns">
          <div class="row collapse">
            <div class="medium-3 small-12 columns">
              <h3>Roadshow/</h3>
            </div>
            <div class="medium-5 small-12 columns">
              <input type="text" placeholder="e.g. wool socks, phone charger, juicer">
            </div>
            <div class="medium-2 small-12 columns">
              <a href="#" class="button alert postfix">Search</a>
            </div>
            <div class="medium-2 small-12 columns">
              <a href="/auction" class="button success postfix">+Auction</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <div class="row">
            <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3">
              <li>
                <img src="http://placehold.it/1000x1000&text=Thumbnail">
   
                <div class="panel">
                  <div class="row collapse">
                    <div class="medium-8 small-12 columns">
                      <div class="row">
                        <div class="medium-12 small-6 columns">
                          <h5>Item Name</h5>
                        </div>
                        <div class="medium-12 small-6 columns">
                          $1 (0 bids)
                        </div>
                      </div>
                    </div>
                    <div class="medium-4 small-12 columns">
                      <a href="#" class="button expand" data-reveal-id="confirm-bid">Bid</a>
                    </div>
                  </div>
                </div>
              </li>
   
              <li>
                <img src="http://placehold.it/500x500&text=Thumbnail">
   
                <div class="panel">
                  <div class="row collapse">
                    <div class="medium-8 small-12 columns">
                      <div class="row">
                        <div class="medium-12 small-6 columns">
                          <h5>Item Name</h5>
                        </div>
                        <div class="medium-12 small-6 columns">
                          $12 (3 bids)
                        </div>
                      </div>
                    </div>
                    <div class="medium-4 small-12 columns">
                      <a href="#" class="button expand" data-reveal-id="confirm-bid">Bid</a>
                    </div>
                  </div>
                </div>
              </li>
   
              <li>
                <img src="http://placehold.it/500x500&text=Thumbnail">
   
                <div class="panel">
                  <div class="row collapse">
                    <div class="medium-8 small-12 columns">
                      <div class="row">
                        <div class="medium-12 small-6 columns">
                          <h5>Item Name</h5>
                        </div>
                        <div class="medium-12 small-6 columns">
                          $25 (1 bid)
                        </div>
                      </div>
                    </div>
                    <div class="medium-4 small-12 columns">
                      <a href="#" class="button expand" data-reveal-id="confirm-bid">Bid</a>
                    </div>
                  </div>
                </div>
              </li>
   
              <li>
                <img src="http://placehold.it/500x500&text=Thumbnail">
   
                <div class="panel">
                  <div class="row collapse">
                    <div class="medium-8 small-12 columns">
                      <div class="row">
                        <div class="medium-12 small-6 columns">
                          <h5>Item Name</h5>
                        </div>
                        <div class="medium-12 small-6 columns">
                          $50 (20 bids)
                        </div>
                      </div>
                    </div>
                    <div class="medium-4 small-12 columns">
                      <a href="#" class="button expand" data-reveal-id="confirm-bid">Bid</a>
                    </div>
                  </div>
                </div>
              </li>
   
              <li>
                <img src="http://placehold.it/500x500&text=Thumbnail">
   
                <div class="panel">
                  <div class="row collapse">
                    <div class="medium-8 small-12 columns">
                      <div class="row">
                        <div class="medium-12 small-6 columns">
                          <h5>Item Name</h5>
                        </div>
                        <div class="medium-12 small-6 columns">
                          $30 (15 bids)
                        </div>
                      </div>
                    </div>
                    <div class="medium-4 small-12 columns">
                      <a href="#" class="button expand" data-reveal-id="confirm-bid">Bid</a>
                    </div>
                  </div>
                </div>
              </li>
   
              <li>
                <img src="http://placehold.it/500x500&text=Thumbnail">
   
                <div class="panel">
                  <div class="row collapse">
                    <div class="medium-8 small-12 columns">
                      <div class="row">
                        <div class="medium-12 small-6 columns">
                          <h5>Item Name</h5>
                        </div>
                        <div class="medium-12 small-6 columns">
                          $5 (7 bids)
                        </div>
                      </div>
                    </div>
                    <div class="medium-4 small-12 columns">
                      <a href="#" class="button expand" data-reveal-id="confirm-bid">Bid</a>
                    </div>
                  </div>
                </div>
              </li>

            </ul>
          </div>
        </div>
      </div>

      <div id="confirm-bid" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
        <h2 id="modalTitle">Bid $30 on Item Name?</h2>
         <a href="#" class="button success">Confirm</a>
        <a class="close-reveal-modal" aria-label="Close">&#215;</a>
      </div>

      <footer class="row margin-bottom">
        <div class="large-12 columns centered"><hr/>
          <a target="_blank" href="https://twitter.com/whatmariel">@whatmariel</a>
          x <a target="_blank" href="https://twitter.com/iansuvak">@iansuvak</a>
          x <a target="_blank" href="https://twitter.com/doichi_">@doichi_</a>
          x <a target="_blank" href="https://twitter.com/masonperler">@masonperler</a>
        </div>
      </footer>

      <!-- build:js scripts/main.js -->
      <script data-main="scripts/main" src="/bower_components/jquery/dist/jquery.min.js"></script>
      <script data-main="scripts/main" src="/scripts/vendor/foundation.min.js"></script>
  <script>
    $(document).foundation();
  </script>
      <!-- endbuild -->
  </body>
</html>
