<a href="{{winner_email}}">{{winner_email}}</a> has won your '{{item_name}}' with your bid of ${{bid}}!
<br/><br/>
Contact <a href="{{auctioner_email}}">{{auctioner_email}}</a> to arrange payment.
<br/><br/>
-- Roadshow