{{> partials/_header}}

{{#error_message}}
	{{> partials/_error}}
{{/error_message}}

{{#auction}}
  <div id="js-auction-details">
  {{> partials/_auction_detail}}
  </div>
{{/auction}}
<script data-main="scripts/main" src="/js/auction_detail.min.js"></script>
{{> partials/_footer}}
