{{> partials/_header}}

<div id="js-app-wrapper">
  <div class="row">
    <div class="large-12 columns">
      <form action="/auction" method="POST" enctype="multipart/form-data">
        Take a Photo
        <input type="file" name="item_photo" required="required" accept="image/*" capture="camera">
        Item Name
        <input type="text" placeholder="TV Stand" required="required" name="auction_name">
        Starting Bid
        <div class="row collapse">
          <div class="small-1 columns">
            <span class="prefix">$</span>
          </div>
          <div class="small-11 columns">
            <input type="number" min="1" class="medium-11 columns"  placeholder="10" required="required" name="start_bid">
          </div>
        </div>
        Increments
        <div class="row collapse">
          <div class="small-1 columns">
            <span class="prefix">$</span>
          </div>
          <div class="small-11 columns">
            <input type="number" min="1" class="medium-11 columns" required="required" placeholder="5" name="step">
          </div>
        </div>
        Email
        <input type="email" placeholder="your@email.com" required="required" name="user_email">
        End date <input type="time" name="end_date" required="required">
        <input type="submit" class="button postfix" value="Start Auction">
      </form>
    </div>
  </div>
</div>
<script data-main="scripts/main" src="/js/create_auction.min.js"></script>
{{> partials/_footer}}
