{{> _header}}

<div class="row">`
  <div class="large-12 columns">
    <form action="/auction" method="POST" enctype="multipart/form-data">
      Take a Photo
      <input type="file" name="item_photo" accept="image/*" capture="camera">   
      <img class="resize-image" src="images/dragon_egg.jpg" alt="Image" />
      Item Name
      <input type="text" placeholder="TV Stand" required="required" name="auction_name">
      Starting Bid
      <div class="row collapse">
        <div class="small-1 columns">
          <span class="prefix">$</span>
        </div>
        <div class="small-11 columns">
          <input type="number" min="1" class="medium-11 columns"  placeholder="10" required="required" name="start_bid">
        </div>
      </div>
      Increments
      <div class="row collapse">
        <div class="small-1 columns">
          <span class="prefix">$</span>
        </div>
        <div class="small-11 columns">
          <input type="number" min="1" class="medium-11 columns" required="required" placeholder="5" name="step">
        </div>
      </div>
      End date <input type="date" name="end_date">
      <input type="submit" class="button postfix" value="Start Auction">
    </form>
  </div>
</div>

{{> _footer}}
