{{> partials/_header}}
<div class="row">
  <div class="large-12 columns">
    <div class="row">
      <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3">
        {{#auctions}}
          {{> partials/_auction_listing}}
        {{/auctions}}
      </ul>
    </div>
  </div>
</div>

<script data-main="scripts/main" src="/js/index.min.js"></script>
{{> partials/_footer}}
