{{> partials/_header}}
<div class="row">
  <div class="large-12 columns">
    <div class="row">
      <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3">
        {{#auctions}}
          {{> partials/_auction_listing}}
        {{/auctions}}
      </ul>
    </div>
  </div>
</div>

<div id="confirm-bid" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <h2 id="modalTitle">Bid $30 on Item Name?</h2>
   <a href="#" class="button success">Confirm</a>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>

<script data-main="scripts/main" src="/js/index.min.js"></script>
{{> partials/_footer}}
