{{> partials/_header}}

<div class="row">
  <div class="medium-4 medium-centered margin-top small-12 columns">
    <h4>A login link will be sent to your email.</h4>
	  <form method="GET" action="/users/login">
		  <input type="email" name="email" required="required">
		  <input class="button expand" type="submit" value="Log In">
	  </form>
	</div>
</div>

{{> partials/_footer}}
