{{> partials/_header}}

<div class="row">
  <div class="large-12 columns">
    <div class="row">
      <div class="large-12 columns centered margin-bottom-sm ">
        <span>Search Results for "{{search_term}}"</span>
      </div>
      <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3">
        {{#auctions}}
          {{> partials/_auction_listing}}
        {{/auctions}}
      </ul>
    </div>
  </div>
</div>

{{> partials/_footer}}